<div id="login-form">
    <div class="login-container">
        <h1 class="title has-text-primary">Login</h1>
        <!-- Email -->
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="email" placeholder="Email" #email>
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <!-- Password -->
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="password" placeholder="Password" #password>
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <!-- Submit Button -->
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button" routerLink="/signup" style="margin-right: 10px;">
                    SignUp
                </button>
                <button class="button is-primary" (click)="login(email.value, password.value)">
                    Submit
                </button>
            </p>
        </div>
    </div>
</div>