@import "../../../main-styles.scss";

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    .login-container {
        padding: 2rem;
        background: #ffffff;
        border-radius: 8px;
    }
}
