.list-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .modal-box {
        min-height: 180px;
        width: 100%;
        max-width: 580px;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 2rem;
    }
}
