<div class="task-container">
    <div class="modal-box">
        <h1 class="title">{{isEditable? 'Edit a Task':'Create a new Task'}}</h1>
        <div class="field is-grouped">
            <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter the Task" #task>
            </p>
            <p class="control">
                <a class="button is-primary" (click)="createNewTask(task.value)">
                    {{isEditable?'Update':'Create'}}
                </a>
                <a class="button" (click)="navigateToPrevious()" style="margin-left: 5px;">
                    Go Back
                </a>
            </p>
        </div>
    </div>
</div>