@import "../../../main-styles.scss";

#task-view {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    .task-container {
        display: flex;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        max-height: 600px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 2.7rem;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        .list-menu {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-top: 1rem;

            .list-menu-item {
                display: flex;
                align-items: center;
                color: #5f5f5f;
                padding: 0.5rem 0.9rem;
                margin-bottom: 0.4rem;
                &:hover {
                    background-color: $light;
                }
                &.is-active {
                    background-color: $light-blue;
                    color: $dark-blue;
                }
            }
        }
    }

    .task-list-container {
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        padding: 2.7rem;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        .top-bar {
            display: flex;
            margin-bottom: 1.2rem;
            .title {
                margin: 0;
                flex-grow: 1;
            }
        }

        .tasks {
            background-color: #ffffff;
            padding: 0.6rem 1.2rem;
            margin-top: 10px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            .task-text {
                flex-grow: 1;
            }

            .task-button {
                opacity: 0;
                transform: scale(0.5);
                transition: opacity 0.3s ease-out, transform 0.2s;
            }

            &:not(.completed) {
                transition: all 0.3s ease-out;
                cursor: pointer;

                &:active {
                    transform: scale(0.95);
                }

                &:hover {
                    box-shadow: 0 0 0 5px #eeeeee;
                    .task-button {
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }

            &.completed .task-text {
                text-decoration: line-through;
                opacity: 0.8;
            }
        }

        .circle-btn {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            height: 45px;
            width: 45px;
            border-radius: 50%;
        }

        .empty-state-text {
            font-size: 1.1rem;
            color: #929292;
            text-align: center;
        }
    }
}
