<section id="task-view">
    <div class="task-container">
        <!-- Sidebar -->
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary">Lists</h1>

            <!-- List menu -->
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists"
                    [routerLink]="['/lists', removeSpaces(list.title), list._id]" routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>
            </div>

            <button class="button is-primary has-text-white" routerLink="/new-list">+ New List</button>
        </div>

        <!-- Task view Container -->
        <div class="task-list-container has-background-light">

            <div *ngIf="tasks">
                <!-- Create new task button -->
                <button class="circle-btn button is-primary" routerLink="./new-task">
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>

                <div class="top-bar">
                    <h1 class="title has-text-primary">Tasks</h1>
                    <div class="dropdown is-right is-hoverable">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
                                <span><i class="fas fa-cog"></i></span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item has-text-primary"
                                    [routerLink]="['/edit-list', removeSpaces(listTitle), listId]">Edit</a>
                                <a class="dropdown-item has-text-danger" (click)="onDeleteList()">Delete</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tasks" *ngFor="let task of tasks" [ngClass]="{'completed': task.isCompleted}"
                    (click)="completeTask(task)">
                    <!-- Task text -->
                    <div class="task-text">
                        <p>{{task.title}}</p>
                    </div>
                    <!-- task buttons -->
                    <div class="task-button">
                        <button class="button is-primary"
                            [routerLink]="['/lists', removeSpaces(listTitle), listId, 'edit-task', removeSpaces(task.title),task._id ]"
                            [disabled]="task.isCompleted" style="margin-right: 10px;">
                            <div class="icon">
                                <i class="far fa-edit"></i>
                            </div>
                        </button>

                        <button class="button is-danger" [disabled]="task.isCompleted"
                            (click)="deleteTask(task._listId,task._id)">
                            <div class="icon">
                                <i class="fas fa-trash"></i>
                            </div>
                        </button>
                    </div>
                </div>

                <h3 class="empty-state-text is-pulled-left" *ngIf="tasks.length===0">
                    *There are no task added yet, Click
                    the add
                    button to create a new task.
                </h3>

            </div>

            <div *ngIf="!tasks">
                <h3 class="empty-state-text is-4">Please select a list from the sidebar</h3>
            </div>

        </div>
    </div>
</section>