// Global Style
@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700");

// Set your brand colors
$belize-hole: #2980b9;
$blue: #3498db;
$light-blue: lighten($blue, 40%);
$dark-blue: darken($blue, 10%);
$light: #f8f8f8;

// Update the bulma's global variable
$family-sans-serif: "Nunito", san-serif;
$primary: $blue;

$link-color: $light-blue;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
    background: linear-gradient(to right top, $belize-hole, $blue);
}

html,
body {
    height: 100%;
}

.title {
    text-transform: uppercase;
    font-family: "Lato";
    font-size: 1.5rem;
    letter-spacing: 2px;
}